body {
    font-family: 'Sometype Mono', monospace;
    color: rgb(70, 70, 70);
    z-index: -1;
    background-color: #D9D9D9;
}

div.gwBox {
    background-color: #ffffff;
    box-shadow: 20px 20px 10px #A7ABBC;
    margin: 0px;
}

div.gwBox > h2 {
    background-color: #4e4e4e;
    padding: 10px 0px 10px 20px;
    color: #ffffff;
    font-size:30px !important;
    margin:0px;
}

div.gwBox > h3 {
    padding: 5px 5px 20px 20px;
}

div.gwBox > a {
    margin: 5px 20px 5px 20px;
    font-size: 20px;
    background-color: #FF762C;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    align-self:center;
}

div.gwBox a:hover {
    background-color: #e44724;
}

div.gwFlex {
    display: flex;
    flex-direction: normal;
    margin:35px 0px 0px 0px;
    padding:0px;
    width: 100%;
    justify-content: center !important;
    gap: 50px;
    flex-wrap: wrap;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

div.top-bar {
    background-color: #FF762C;
    position: fixed;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    word-wrap: unset;
    overflow: hidden;
    box-shadow: 0px 0px 10px #3d3f4687;
}

div.top-bar img {
    height: 75%;
    padding: 5px;
}

div.top-bar span {
    position: relative;
    bottom: 38%;
    height: inherit;
    height: 75%;
    padding: 5px;
}

span input {
    font-size: 30px;
    position: relative;
    top: 6px;
}

input.search {
    width: 30%;
    font-size: 20px;
}

ul.results {
    font-size: 25px;
}

div.top-bar div {
    position: fixed;
    height: 150px;
    width: 98px;
    left: calc(5.25vh + 19px);
    top: 7%;
    padding: none;
    background-color: inherit;
}

div.file-box button {
    font-size: 18px;
    height: 33.3%;
    width: 100%;
}

button {
    font-size: 20px;
    font-family: 'Sometype Mono', monospace;
    font-weight: bolder;
    height: 100%;
    position: relative;
    color: white;
    border: none;
    border-bottom: #979797;
    background-color: #FF762C;
    text-align: center;
    padding:10px;
    margin: 0px 0px 0px 0px;
}
button:hover{
    background-color: #e44724;
}


button.canvasButton {
    width:50px;
    height: 50px;
    margin: 5px 5px 5px 5px !important;
    background-color: #ff853a;
    border-radius: 100%;
    padding: 0px !important; 
    border: solid 3px #723c1a;
}

button.canvasButton:hover{
    background-color: #c06b2a;
}

.canvasButton > img{
    width: 60%;
}

div.cabinet div.container button {
    margin: 10px;
}

button:active,
button:hover {
    cursor: pointer;
}

.content {
    position: absolute;
    top: 7%;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 7%);
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.scroll {
    overflow-y: scroll;
}

div.container, footer {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
}
div.container {
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}
footer {
    flex-direction: row;
    padding: 1%;
    background-color: rgb(150, 150, 150);
    text-align: center;
    justify-content: center;
}

div.code-controls {
    margin-right: 40px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0px;
    right: 26%;
    z-index: 15;
}

div.page {
    margin-right: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.editcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(168, 160, 156);
}

.editwrapper {
    width: 90%;
    left: 0px;
    position: relative;
}

div.videos h3 {
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

h3 {
    margin: 8px;
    margin-left: 0;
}

div.videos video {
    padding: 0;
    margin: 0;
}

div.videos {
    width: 550px;
}

div.footer {
    background-color: ghostwhite;
    font-family: 'Sometype Mono', monospace;
    font-size: 30px;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 180px;
    position: relative;
    margin-top: 40%;
}

div.right-bar {
    bottom: 15px;
    top: 15px;
    right: 20px;
    position: inherit;
    width: calc(26% - 30px);
    font-family: 'Sometype Mono', monospace;
    font-size: 15px;
    border-radius: 10px 10px 0px 0px;
}

div.canvas-div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 105%;
    background-color: #9d9d9d;
    margin-bottom: 3px;
    border-radius: 10px 10px 0px 0px;
}

div.controls-div {
    position: inherit;
    height: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0px;
    background-color: #bababa;
}

div.canvas-div canvas {
    position: inherit;
    height: auto;
    width: 100%;
    top: 0px;
    background-color: white;
}

div.canvas-div.fullscreen canvas {
    --height-of-canvas: calc(100vh - 20px);
    height: var(--height-of-canvas);
    width: auto;
    left: calc((100vw - var(--height-of-canvas)) / 2);
    top: 20px;
}

div.info-div {
    position: inherit;
    height: 55px;
    width: 100%;
    top: -16px;
    margin-top: calc(105% + 15px);
    background-color: #6d6d6d;
    color: white;
    padding-bottom: 6px;
    border-radius: 0px 0px 10px 10px;
    padding-left: 5px ;
    border-color: rgb(88, 88, 88);
     
}

div.cabinet {
    position: absolute;
    background-color: #b15d29;
    height: auto;
    top: 0px;
    margin-top: calc(105% + 70px);
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 25px;
}

img.imported-image {
    height: auto;
    width: 100px;
}

div.cabinet div.container div p {
    margin: 0;
    font-size: 15px;
}

/* sidebar */
div.side-bar {
    bottom: 0px;
    top: 0px;
    background-color: #D9D9D9;
    position: inherit;
    height: 100%;
    width: 15%;
    color: rgb(219, 219, 219);
    padding:5px 5px 5px 0px;
}
.sidebar-break{
    width: 100%;
    margin-top:0px;
    border: 1px solid #5e5e5e;
}

button.side-bar {
    height: 30px;
    background-color: #FF762C;
    left: -5px;
    width: 30%;
    align-self: flex-end;
    border-width:2px 2px 0px 2px !important;
    margin:0px !important;
    font-size: 90%;
    text-wrap: nowrap;
    transition:width 0.5s ;
}

button.side-bar:hover {
    height: 30px;
    background-color: #e44724;
    left: -5px;
}

button.tab.selected {
    background-color: #D9D9D9;
    height: 35px;
    width: 70%;
    color: black;
    transition:width 0.5s ;
    border: 1px solid #5e5e5e;
}

button.side-bar.tab {
    flex-direction: row;
}

div.sidebar-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

div.side-bar.side-bar-in {
    left: calc(0px - 15%);
    animation: hide-side-bar 0.25s ease 0s 1;
}

div.side-bar.side-bar-out {
    left: 0px;
    animation: show-side-bar 0.25s ease 0s 1;
}

div.side-bar p {
    font-family: 'Sometype Mono', monospace;
    font-size: 25px;
}

a.side-bar-control {
    position: fixed;
    font-size: 20px;
    padding: 5px;
    background-color: #D9D9D9;
    border-bottom-right-radius: 1rem;
}

@keyframes hide-side-bar {
    0% {
        left: 0px;
    }

    100% {
        left: calc(0px - 15%);
    }
}

@keyframes show-side-bar {
    0% {
        left: calc(0px - 15%);
    }

    100% {
        left: 0px;
    }
}

/* Play Controls */
a.zoom {
    background-color: #ff853a;
    padding: 10px;
    padding-bottom: 5px;
    margin: 5px 0px;
    z-index: 15;
    height: 20px;
}

#zoom1{
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    border-right: 0px;
}

#zoom2{
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    border-left: 0px;
}

a.play-controls {
    background-color: rgb(255, 255, 192);
    border-radius: 1rem;
    position: absolute;
    font-size: 15px;
}

div.docs p {
    font-size: 15px;
}
div.docs u, div.docs b {
    font-size: 25px;
}

a.right-left {
    left: 30px;
}

a.right {
    right: 0px;
}

a.zoom.disabled,
a.play-controls.disabled {
    background-color: #923a17;s
}
a.zoom.disabled img {
    filter: brightness(70%);
}

a.zoom.disabled:hover,
a.play-controls.disabled {
    background-color: #923a17 !important;
    cursor: default;
}

a.side-bar-control:hover,
a.zoom:hover,
a.play-controls:hover {
    background-color: #e44724 !important;
    cursor: pointer;
}

/* Code Editor? */
#editor {
    position: inherit;
    right: calc(25% + 35px);
    left: 17%;
    top: 15px;
    bottom: 15px;
    font-family: 'Sometype Mono', monospace;
    overflow-x: hidden;
    word-wrap: unset;
    overflow: hidden;
    transition: left 0.25s ease;
}

.editor-text.xsmall {
    font-size: 10px;
}

.editor-text.small {
    font-size: 15px;
}

.editor-text.norm {
    font-size: 20px;
}

.editor-text.large {
    font-size: 30px;
}

.editor-text.xlarge {
    font-size: 45px;
}

.hidden {
    display: none;
}

/* Code-space lines css */
#nums {
    width: inherit;
}

.nums {
    width: 50px;
    background-color: lightgrey;
}

#nums span {
    background-color: lightgrey;
    width: 25px;
    width: 100%;
    display: block;
    text-align: center;
}

#edit {
    display: inline-block;
    outline: none;
    background: transparent;
    resize: none;
    overflow: hidden;
    border: none;
    white-space: none;
    font-size: inherit;
    color: transparent;
    caret-color: black;
    position: absolute;
    z-index: inherit;
    min-width: 100%;
    min-height: 70%;
}

#zoom-placeholder {
    display: inline-block;
    white-space: nowrap;
    border: none;
    outline: none;
    color: transparent;
    position: absolute;
    background-color: transparent;
    z-index: inherit;
    pointer-events: none;
}

#edit:hover,
#edit:active {
    cursor: text;
}

#display {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
    font-size: inherit;
}

::selection {
    background-color: #ffd139;
    color: black;
}

a::selection,
button::selection,
img::selection {
    background-color: transparent;
}

/* Cabinet */
div.cabinet {
    position: absolute;
    background-color: #D9D9D9;
    height: auto;
    top: 0px;
    margin-top: calc(105% + 70px);
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 25px;
}

div.cabinet::-webkit-scrollbar-thumb{
    background-color: #7a5035;
}

div.cabinet-buttons{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.cabinet-break{
    width: 100%;
    margin-top:0px;
    border: 1px solid #723c1a;
}

img.imported-image {
    height: auto;
    width: 100px;
}

/*Cabinet Grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color:  rgb(195, 195, 195);
    border: 1px solid  rgb(142, 142, 142);
    padding: 10px;
    text-align: center;
}

.grid-container.cabinet-upload {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.grid-item img, .grid-item audio {
    max-width: 100%;
}


.grid-item h3 {
    font-size: 20px;
    margin: 10px 0 0;
}

/* Docs */
code {
    font-size: 20px;
    font-family: monospace;
}
examplecode {
    font-size: 20px;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 10px;
    font-family: monospace;
}

/* Console */
div.log {
    border-bottom: 1px solid black;
    font-family: 'Sometype Mono', monospace;
    font-size: 15px;
}

div.log.error {
    color: red;
}

div.log.warn {
    color: #fcd75d;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px #8c8c8c; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #8a8a8a; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
  }



footer {
    flex-direction: row;
    padding: 1%;
    background-color: rgb(184, 184, 184);
    text-align: center;
    justify-content: center;
}

div.footer {
    background-color: ghostwhite;
    font-family: 'Sometype Mono', monospace;
    font-size: 30px;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 180px;
    position: relative;
    margin-top: 40%;
}
